.gridster > ul, ol {
    list-style: none;
    min-width: 100%;
}

.gridster {
    width: auto;
    margin: 10 auto;
    min-width: 100%;


    -webkit-transition: opacity .6s;
    -moz-transition: opacity .6s;
    -o-transition: opacity .6s;
    -ms-transition: opacity .6s;
    transition: opacity .6s;
}

.gridster > ul > li {
    display: flex;
    flex-direction: column;
}

.gridster > ul > li .box-gridster-body {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

.gridster > ul > li footer {
    flex: 0 0 auto;
    background: white;
}

.gridster .gs_w {
    background: #ff0000;
    cursor: pointer;
    -webkit-box-shadow: 0 0 55px rgba(0,1,0,0.3);
    box-shadow: 0 0 55px rgba(1,0,0,0.3);
}

.gridster div {
}
.gridster > ul >  li header {
    background: #fff;
        display: block;
        font-size: 20px;
        line-height: normal;
        padding: 4px 0 6px ;
        margin-bottom: 10px;
        cursor: move;
        height: 40px;
        flex:0 0 auto;
}
.shiny-plot-output img {
    max-width: 100%;
    max-height: 100%;
    height: auto!important;
    width: auto!important;
    zoom : 5;
}
.shiny-plot-output {
    height: auto!important;
    bottom: 0px;
    position: absolute;
    top: 0px;
}

.shiny-html-output {
    display: flex;
    flex-direction: column;
}
.shiny-html-output > .shiny-input-container{
    flex: 0 0 auto;
    height: 100px;
}
.shiny-html-output > .shiny-plot-output{
    flex: 1 1 auto;
    top: 100px;
    bottom: 0px;
}



